@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
:root{
  height: 100%;
  color: #cfcfcf;
  font-family: var(--font-montserrat);
}

.font-heading {
  font-family: var(--font-arvo);
}

.primary-color {
  background-color: #7765c8;
  color: black;
}

.primary-text {
  color: #7765c8;
}

.secondary-color {
  background-color: #ffffff;
  color: black;
}

.secondary-text {
  color: #ffffff;
}

.accent-color {
  background-color: #252565;
  color: white;
}

.accent-text {
  color: #252565;
}

@keyframes plus-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hover\:animation-spin:hover {
  animation: plus-spin 0.5s linear forwards;
}
